.body
{
  background-color: mediumaquamarine;
}

.copy_right_footer
{
  position: fixed;
  color: #ffffff;
  bottom: 0;
  width: 100%;
  background-color: grey;
  line-height: 3;
  text-align: center;
}

.img-responsive
{
  height:400px;
  width:400px;
}

.test_image_and_result
{
  text-align: center;
  font-size: 15px;
  padding: 20px;
}